* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: #412d15;
}
h1, h2, h3, h4 {
   font-family: "Cinzel", serif;
}
p, a {
    font-family: "Roboto", sans-serif;
}
.head {
    background-image: url(./images/download\ \(13\)-bg.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    background-size: cover;
    background-position: top center;
    animation-name: headeranimation;
    animation-duration: 14s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes headeranimation {
    0% { background-image: url(./images/download\ \(13\)-bg.png);}
    20% {background-image: url(./images/-bg.png);}
    40% {background-image: url(./images/Herat\ Afghanistan-bg.png);}
    60% {background-image: url(./images/Baghlan-bg.png);}
    80% {background-image: url(./images/Band-e-Amir-bg.png);}
    100% {background-image: url(./images/Kabul\,\ Afghanistan-bg.png);}
}
.bgcolor {
    background: linear-gradient(to right, #151514 10%, rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    height: 100vh;
    padding: 15px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    height: 60px;
    background-color: rgba(225, 220, 201, 0.5);
    margin: 0px 30px;
    border-radius: 30px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo > img {
    height: 50px;
    padding: 10px;
    animation-name: logoeffect;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes logoeffect {
    0% {transform: translateY(3px);}
    50% {transform: translateY(-3px);}
    100% { transform: translateY(3px);}
}
.logo >h4 {
    color: #412d15;
    padding: 10px;
}
.menu >ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.menu >ul>li {
    list-style: none;
}
.menu >ul>li>a {
    color: #412d15;
    display: block;
    padding: 8px;
    border-bottom: 3px solid transparent;
    transition-property: border-bottom, transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.menu >ul>li>a:hover {
   border-bottom: 3px solid #412d15;
   transform: scale(1.05) translateY(-5px);
}
.bigtitle {
    padding: 10rem 0rem 13rem 10rem;
    color: #e1dcc9;
    width: 60%;
}
.bigtitle >h1 {
    font-size: 4rem;
}
#btn {
    background-color: #e1dcc9;
    padding: 10px 20px;
    margin: 30px;
    margin-left: 60px;
    border: 0;
    border-radius: 20px;

}
#btn >a {
    color: #412d15;
}
.featuredcity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.section1, .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: #e1dcc9;
    color: #412d15;
    border-radius: 20rem;
    padding: 60px 80px;
    width:70%;
    margin: 80px 15%;
    box-shadow: 0 0 30px #231708;
}
.section2 {
    margin-bottom: 200px;
}
.section1 >div >img, .section2 > div >img {
    width: 250px;
    border-radius: 10rem;
}
.cityinfo {
    width: 250px;
}
.cityinfo >p, .cityinfo >ul>li {
    font-size: 0.76rem;
}
.cityinfo >p {
    margin-bottom: 20px;
}
.cityinfo >ul {
    margin-left: 20px;
}
.odd {
    padding: 100px;
    background-color: #e1dcc9;
}
#gallery >h1 {
    text-align: center;
    color: #412d15;
    margin: 60px;
}
.gridcontainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}
.card {
     position: relative;
     overflow: hidden;
     border-radius: 20px;
     transition: 0.4s;
}
.card >img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.overlay {
    position: absolute;
    inset: 0;
    padding: 15px;
    background-color: rgba(21, 21, 20, 0.5);
    color: #e1dcc9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
}
.overlay > p {
    text-align: center;
}
.card:hover {
    box-shadow: 0 0 30px #231708;
}
.card:hover img{
    filter: brightness(50%);
}
.card:hover .overlay{
    opacity: 1;
}
.card4 {
    grid-column: 1 / span 12;
    grid-row: 1;
}
.card3 {
    grid-column: 1 / span 4;
    grid-row: 2 /span 2;
}
.card1 {
    grid-column: 5 / span 4;
    grid-row: 2;
}
.card5 {
    grid-column: 9 / span 4;
    grid-row: 2;
}
.card2 {
    grid-column: 5 / span 4;
    grid-row: 3;
}
.card6 {
    grid-column: 9/ span 4;
    grid-row: 3 / span 2;
}
.card7 {
    grid-column: 1 / span 4;
    grid-row: 4;
}
.card8 {
    grid-column: 5/ span 4;
    grid-row: 4;
}
#spotlight {
    width: 70%;
    margin: 150px auto;
    color: #e1dcc9;
}
#spotlight > h1, #spotlight > h3 {
    text-align: center;
}
#spotlight > img {
    width: 90%;
    margin: 100px 5%;
    border-radius: 80px;
    border: 5px solid #e1dcc9;
    border-style: dashed;
}
#spotlight > p {
    text-align: center;
    font-size: 14px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
}
.list > div > ul {
    padding-left: 20px;
}
.quote {
    text-align: center;
    margin-top: 100px;
}
.quote > div {
    background-color: rgba(225, 220, 201, 0.3);
    display: inline-block;
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    border-left: 2px solid #e1dcc9;
    border-bottom: 2px solid #e1dcc9;
}
#submitsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 50px;
    flex-wrap: wrap;
}
#submitsection > div {
    width: 500px;
    color: #231708;
}
#submitsection > div > h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 10px;
}
form >input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    background-color: #412d15;
    color: #e1dcc9;
}
::placeholder {
    color: rgba(225, 220, 201, 0.6)
}
form >textarea {
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
    background-color: #412d15;
    resize: none;
    color: #e1dcc9;
}
form input:focus, form textarea:focus{
    outline: none;
    box-shadow: 0 0 10px #231708;
    transition: .3s;
}
.foot >div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 100px;
    padding-bottom: 70px;
    color: #e1dcc9;
}
.foot > div > div {
    width: 200px;
}
.foot > div > .inspired {
    width: 500px;
}
.foot > div > div > h3 {
    margin-bottom: 10px;
}
.foot > div > div > p {
    font-size: 14px;
    line-height: 20px;
}
.foot > div > div >ul >li {
    list-style: none;
    margin: 8px;
}
.foot > div > div >ul >li >a {
    color: #e1dcc9;
    border-left: 2px solid #e1dcc9;
    padding: 0px 10px;
    transition: 0.5s;
}
.foot > div > div >ul >li >a:hover {
    background-color: #e1dcc9;
    border-radius: 5px;
    color: #412d15;
}
.foot > div > div >div >a >i {
    margin: 12px 12px 12px 0;
    color: #e1dcc9;
    padding: 10px;
}
.foot >p {
    color: #e1dcc9;
    text-align: center;
    margin: 30px;
}

#menu-toggle{
    display: none;
}
.burger{
    display: none;
    font-size: 1.8rem;
    color: #412d15;
    cursor: pointer;
}


@media screen and (max-width: 992px) {
    .navbar{
        padding: 15px 30px;
        position: relative;
    }
    .burger{
        display: block;
    }
    .menu{
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: rgba(225,220,201,0.95);
        border-radius: 20px;
        padding: 20px;
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #menu-toggle:checked ~ .menu{
        display: block;
    }
    .bigtitle{
        width: 80%;
        padding: auto;
        height: auto;
        text-align: center;
    }

    .bigtitle h1{
        font-size: 2.5rem;
    }
    .overlay >h3 {
        font-size: 16px;
    }
    .overlay >p {
            font-size: 10px;
    }
    .list {
        gap: 50px;
    }
}